{% extends 'base.html' %}

<!-- Название -->
{% block title %}
    Лучшие цитаты
{% endblock %}

<!-- Что будет отображаться на странице -->
{% block content %}
    <h1>Лучшие цитаты</h1>
    
   <div>
        <table class="table table-bordered table-light">
            <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Цитата</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                <tr>
                    <td>{{ quote.id }}</td>
                    <td>{{ quote.text }}</td>
                    <td>{{ quote.weight }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}